.paginate_button:hover,
.paginate_button:active {
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%) !important;
    background-color: white !important;
    border: 0px !important;
}

.dataTables_paginate {
    clear: both !important;
    float: right !important; 
}