<div class="container" style="margin-top:100px">
    <div class="jumbotron">
        <center><h1>Plants Information</h1></center>
        <p>You can see the information about your plants here:</p>
    </div>
    <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Vase</th>
            <th>Plant Type</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Luminosity</th>
            <th>CO2</th>
            <th>Soil ph</th>
            <th>Soil humidity</th>
            <th>Light</th>
            <th>Blower</th>
          </tr>
        </thead>
        <tbody id="t_body">
        </tbody>
    </table>
    <a href="profileCreator.html">Profile Creator</a>
    <a href="graphs.html">Graphs</a>
</div>