<div class="container" style="margin-top:100px">
   	<div class="jumbotron">
	<center><h1>Plant Information</h1></center>
	<p>You can see the information about your plant here:</p>
	</div>
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
			<th>Vase</th>
			<th>Plant Type</th>
			<th>Temperature</th>
			<th>Humidity</th>
			<th>Luminosity</th>
			<th>CO2</th>
			<th>Soil ph</th>
			<th>Soil humidity</th>
			<th>Light</th>
			<th>Blower</th>
		</tr>
		</thead>
		<tbody id="t_body">
		</tbody>
	</table>

	<div  width="10%" height="10%">
		<canvas id="myChart" ></canvas>
	</div>

	<button class="button col-md-3 col-md-offset-1" onclick="ligarLuz()" >Luz</button> 
	<button class="button col-md-3 col-md-offset-1" onclick="ligarVent()" >Ventoinha</button>
	<button class="button col-md-3 col-md-offset-1" onclick="refresh()" >Refresh</button>
</div>
