<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>
      {% if page.title == null %}
        {{ site.name }}
      {% else %}
        {{ page.title }} - {{ site.name }}
      {% endif %}
    </title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/~ies2018-2019_p33{{ site.baseurl }}/assets/css/normalize.css">
    <link rel="stylesheet" href="/~ies2018-2019_p33{{ site.baseurl }}/assets/css/main.css">
    <link rel="stylesheet" href="/~ies2018-2019_p33{{ site.baseurl }}/assets/css/syntax.css">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="container">
      <header role="banner">
        <div class="wrap">
          {% if site.logourl != null %}
            <img class="logo" src="{{ site.logourl }}" alt="{{ site.logoalt }}">
          {% endif %}
          <h1 class="site-title"><a class="title-link" href="/~ies2018-2019_p33{{ site.baseurl }}/">{{ site.title }} </a></h1>
        </div>
      </header>

      <div class="wrap content">

        {% include sidebar.html %}

        <section id="main" class="main-content" role="main">
          {{ content }}
        </section>

      </div><!-- /.wrap content -->

      <!--<footer role="contentinfo">
        <div class="wrap">
          <p>This project is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</p>

          <p>Hosted on <a href="http://pages.github.com/">GitHub Pages</a>.</p> style="width: 700px;"
        </div><--/.wrap -->
      </footer>
    </div> <!-- /.container -->
    {% if site.offline_cache == true %}
      <script>
        if( 'serviceWorker' in navigator ) {
          navigator.serviceWorker
           .register( '/~ies2018-2019_p33{{ site.baseurl }}/sw.js' )
           .catch(function( err ) {
             console.log( 'ServiceWorker registration failed: ', err );
           });
         }
      </script>
    {% endif %}
    </body>
</html>
