<div class="container" style="margin-top:100px">
    <div class="jumbotron" id="plants_live_jumbotron">
        <center><h1>Plants Information</h1></center>
        <p>You can see the information about your plants here.</p>
    </div>
    <table id="live_plants_table" class="table table-hover table-bordered" style="margin-bottom: 20px;">
        <thead>
          <tr>
            <th>Vase</th>
            <th>Profile</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Luminosity</th>
            <th>CO2</th>
            <th>Soil ph</th>
            <th>Soil humidity</th>
            <th>Light</th>
            <th>Fan</th>
          </tr>
        </thead>
        <tbody id="t_body">
        </tbody>
    </table>
</div>