<div class="container" style="margin-top:100px">
    <div class="jumbotron" id="plants_live_jumbotron">
        <center><h1>Vases Notifications</h1></center>
        <p>You can see the notifications sent from the sensors here.</p>
    </div>
    <ul id="nav_tab" class="nav nav-tabs"></ul>

    
    <div class="tab-content" id="tab-content">
        <!--<div id="home" class="tab-pane fade in active">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Timestamp</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody id="t_body">
                    <tr>
                        <td>A minha descrição de uma notificação</td>
                        <td>Fri, 07 Dec 2018 15:19:47</td>
                        <td style="color: white"><button style="width: 34px;" onclick="alert()" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button></td>
                    </tr>
                    <tr>
                        <td>A minha descrição de uma notificação</td>
                        <td>Fri, 07 Dec 2018 15:19:47</td>
                        <td style="color: white"><button style="width: 34px;" onclick="alert()" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button></td>
                    </tr>
                    <tr>
                        <td>A minha descrição de uma notificação</td>
                        <td>Fri, 07 Dec 2018 15:19:47</td>
                        <td style="color: white"><button style="width: 34px;" onclick="alert()" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>-->
    </div>
</div>