<div class="container" style="margin-top:100px">
   	<div class="jumbotron" id="plants_live_jumbotron">
	<center><h1 id="title">Vase  Information</h1></center>
	<p>You can see the information about your plant here:</p>
	</div>
	<div  class="col-lg-6">
		<canvas id="temperature" ></canvas>
	</div>
	<div  class="col-lg-6">
		<canvas id="humidity" ></canvas>
	</div>
	<div  class="col-lg-6">
		<canvas id="luminosity" ></canvas>
	</div>
	<div  class="col-lg-6">
		<canvas id="co2" ></canvas>
	</div>
	<div  class="col-lg-6">
		<canvas id="soil_ph" ></canvas>
	</div>
	<div  class="col-lg-6">
		<canvas id="soil_humidity" ></canvas>
	</div>
</div>
