<div class="container" style="margin-top:100px" id = "main_div">
    <div class="jumbotron" id="plants_live_jumbotron">
        <center>
            <h1>Profiles</h1>
        </center>
        <p>You can see the your plants profiles here.</p>
    </div>
    <button type="button" onclick="newProfile()" id="new_prof" class="btn btn-warning">New Profile</button>
</div>
    
    <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Alarm</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-3">
                    <label>Alarm type:</label>
                </div>
                <select id="select_option">
                    <option value="temperature">Temperature</option>
                    <option value="humidity">Humidity</option>
                    <option value="luminosity">Luminosity</option>
                    <option value="co2">CO2</option>
                    <option value="soil_ph">Soil ph</option>
                    <option value="soil_humidity">Soil humidity</option>
                    <option value="moving_average_temperature">Moving Average Temperature</option>
                    <option value="moving_average_humidity">Moving Average Humidity</option>
                    <option value="moving_average_luminosity">Moving Average Luminosity</option>
                    <option value="moving_average_co2">Moving Average CO2</option>
                    <option value="moving_average_soil_ph">Moving Average Soil ph</option>
                    <option value="moving_average_soil_humidity">Moving Average Soil humidity</option>
                    <option value="windowing_temperature">Windowing Temperature</option>
                    <option value="windowing_humidity">Windowing Humidity</option>
                    <option value="windowing_luminosity">Windowing Luminosity</option>
                    <option value="windowing_co2">Windowing CO2</option>
                    <option value="windowing_soil_ph">Windowing Soil ph</option>
                    <option value="windowing_soil_humidity">Windowing Soil humidity</option>
                </select>
                <br />
                <br />
                <div class="col-md-3 col-sm-3"><label>Notification:</label></div>
                <div class="col-md-3 col-sm-3">
                    <input id="Above" type="radio" name="abv_bel" value="Above"> Above<br>
                    <input id="Below" type="radio" name="abv_bel" value="Below"> Below<br>
                </div>
                <div class="col-md-6  col-sm-6">
                    <input type="text" id="modal_value" />
                </div>
                <br />
                <br />
                <br />
                <br />
                <div class="col-md-3 col-sm-3">
                        <label>Action:</label>
                    </div>
                    <select id="select_action">
                        <option value="turn_light_on">Turn Light On</option>
                        <option value="turn_light_off">Turn Light Off</option>
                        <option value="turn_fan_on">Turn Fan On</option>
                        <option value="turn_fan_off">Turn Fan Off</option>
                    </select>
            </div>
            <div class="modal-footer" style="margin-top:10%">
                <button type="button" onclick="modalClose()" class="btn btn-default" data-dismiss="modal">Submit</button>
            </div>
            </div>
        </div>
        </div>
</div>

<div id="addVase" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Vase</h4>
            </div>
            <div class="modal-body">
                <form id="vase_form" action="http://localhost:8080/api/vases_insert" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon">Vase</span>
                        <input id="vaseInput" type="text" class="form-control" name="vase" placeholder="Add Vase">
                    </div>
                    <input type="text" style="display:none" name="profile_id" id="vase_modal"><br>
                </form> 
            </div>
            <div class="modal-footer">
                <button type="button" id="submitVase" class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
</div>

<div id="newProfile" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Profile</h4>
                </div>
                <div class="modal-body">
                    <form id="profile_form" action="http://localhost:8080/api/profile_insert" method="POST">
                        <div class="input-group">
                            <span class="input-group-addon">Profile</span>
                            <input id="profileInput" type="text" class="form-control" name="profile" placeholder="Add Profile">
                        </div>
                    </form> 
                </div>
                <div class="modal-footer">
                    <button type="button" id="submitProfile" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
