<div class="container" style="margin-top:100px">
    <div class="jumbotron" id="plants_live_jumbotron">
        <center><h1>Security</h1></center>
        <p>You can see the information about the door's state here.</p>
    </div>
    <ul id="nav_tab" class="nav nav-tabs"></ul>

    
    <div class="tab-content" id="tab-content">
    </div>
</div>