<aside>
  <!--<p class="intro">{{ site.subtitle }}</p>-->
  <a class="skip-link visuallyhidden focusable" href="#main">Skip to Main Content</a>
  <nav class="sidebar-nav" role="navigation">
    <ul>
      {% for link in site.navigation %}
        {% if link.internal == true %}
          <li class="main-link"><a href="/~ies2018-2019_p33{{ site.baseurl }}/{{ link.url }}">{{ link.text }}</a></li>
        {% else %}
          <li class="main-link"><a href="{{ link.url }}">{{ link.text }}</a></li>
        {% endif %}
        {% for sublink in site.subtitle %}
          {% if sublink.mainId == link.id %}
            {% if sublink.internal == true %}
              <li class="sub-link"><a href="/~ies2018-2019_p33{{ site.baseurl }}/{{ sublink.url }}">{{ sublink.text }}</a></li>
            {% else %}
              <li class="sub-link"><a href="{{ sublink.url }}">{{ sublink.text }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </nav>
</aside>